body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.formik-field {
    width: auto;
    border: 1px solid grey;
    height: 2.5rem;
    text-indent: 5px;
    border-radius: 5px;
    color: black;
    font-family: "Helvetica";
}

.formik-textarea {
    border: 1px solid black;
    height: 10rem;
    border-radius: 5px;
    font-family: "Helvetica";
    font-style: italic;
}
